body{

}

.form-position{
    position: sticky !important;
    top: 120px !important;
}

.grid{
    justify-content: center;
}

.new-book-image{
    width: 300px !important;
	height: 320px !important;
	justify-content: center;
	display: flex;
	align-self: center
}

.label{
    width: 80px !important;
}

.label-description{
    width: 80px !important;
    margin: 10px !important
}

.label-tex-area{
    width: 800px !important;
    height: 150px !important;
}

.grid-column{
    width: 300px !important;
}

.creatform-header{
    margin-bottom: 50px;
    
}

.default-image-button{
    width: 230px;
    background-color: rgb(235, 103, 103) !important;
    color: white !important;
}

.creat-book-button{
    background-color:rgb(13, 165, 224);
}