body{

}

.image{
    
    height: 350px !important;
}

.image>img{
    height: 350px !important;
    
}

.ui.image img{
    max-width: initial !important;
    width: 230px;
}

.ui.modal{
    height: 525px;
}

.popup-description{
    overflow-y: auto;
    width: 800px !important;
    height: 350px !important;
}

.ui.modal>.actions{
    background-color: white;
    border-top: initial;
    padding-top: 43px;
}

.description-card-button{
    height: 50px !important;
    width: 750px !important;
}

.count-input{
    font-size: 15px !important;
    width: 100px;
    padding-right: 20px;
    margin-top: 0px !important;
    height: 50px;
}

.ui.input>input{
    border: 1px dotted grey;
}





