body{

}

.popup-description{
    overflow-y: hidden;
    height: 350px;
    
}

.popup-image{
    
    height: 350px !important;
    width: 250px !important;
    
}

.image>img{
    height: 350px !important;
    
}

.ui.image img{
    max-width: initial !important;
    width: 230px;
}

.ui.modal{
    height: 525px;
}

.description-card-button-row{
    padding-top: 0px;
    display: flex;
    justify-content: center !important;
}

.description-card-button{
    height: 50px !important;
    width: 800px !important;
}

.count-input{
    font-size: 15px !important;
    width: 100px;
    padding-right: 20px;
    margin-top: 0px !important;
    height: 50px;
}

.ui.input>input{
    border: 1px dotted grey;
}





