body{

}

.description {
    
    font-size: 20px;
}

.image{
    
    height: 350px !important;
}

.image>img{
   
    height: 350px !important;
}

.card.image{
    width: 30px !important;
}

.row{
  margin-top: 10px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center !important;
  flex-wrap: wrap;
  gap: 100px;

}

.description-box{
    width: 600px;
}

.new-book-button{
    
    height: 50px !important;
    width: 140px !important;
}

.new-book-button-row{
    margin-top: 30px;
    justify-content: end !important;
}

.ui.card{
    
    width: 250px;
    height: 450px;
}

.card-content{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    
}

.grid-header{
    overflow: hidden;
    height: 70px;
    align-items: center !important;
    display: flex;
}


