body{

}

.description {
    font-size: 20px;
}

.card-image{
    
    height: 150px !important;
    width: 120px !important;
    margin-right: 30px !important;
    margin-bottom: 0px !important;
}

.ui.small.left.floated.image{
    height: 150px !important;
}

.card{
    height: 160px !important;
    width: 400px !important;
    margin: 0px !important;

}

.card-header{
    overflow: hidden;
    height: 50px !important;
    margin-top: 10px !important;
    align-items: center !important;
    display: flex;
    color: black !important;
    margin-bottom: 10px;
}

.card-meta{
    color: black !important;
    font-size: 15px !important;
    margin-bottom: 5px !important;
    overflow: hidden;
    height: 50px;
}

.row{
  margin-top: 10px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center !important;
  flex-wrap: wrap;
  gap: 20px;
}

.description-box{
    width: 600px;
}

.new-book-button{
    
    height: 50px !important;
    width: 140px !important;
}

.new-book-button-row{
    margin-top: 30px;
    justify-content: end !important;
}

.ui.card{
    
    width: 250px;
    height: 450px;
}

.card-content{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    
}

.grid-header{
    overflow: hidden;
    height: 70px;
    align-items: center !important;
    display: flex;
}


