body{

}

.new-book-image{
    width: 300px !important;
	height: 350px;
	justify-content: center;
	display: flex;
	align-self: center
}

.ui.modal{
    margin-top: -200px;
}

.label{
    width: 80px !important;
}

.label-description{
    width: 80px !important;
    margin: 10px !important
}

.label-tex-area{
    width: 800px !important;
     height: 150px !important;
}

.grid-column{
    width: 300px !important;
    justify-content: center !important;
    
}

.grid-row{
    gap: 20px !important;
}

.create-card-button{
    height: 50px;
    width: 650px;
}

.count-input{
    font-size: 15px !important;
    width: 100px;
    padding-right: 20px;
    margin-top: 0px !important;
    height: 50px;
}